* {
  background-color: #778899;
  text-align: center;
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  grid-template-rows: repeat(4, minmax(60px, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;  
  border: 5px solid purple;
  height: 100%;
  padding: 4rem;
  z-index: 0;
}

.card {
  border: 3px solid black;
  margin: 3%;
  height: 110%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #98e2ed;
  transition: transform 1s; 
  border-radius: 10%;
  
}

.symbol {
  height: 5em; 
  width: 5em;
  border-radius: 50%;
  align-self: center;
  margin-top: 3%;
}

.card-back { 
  border: 10px solid black;
  margin: 3%;
  height: 100%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: greenyellow;
  background-color: grey;
}

.directions {
  position: fixed;
  left: 50%;
  margin-left: -350px;
  justify-content: center;
  align-items: center;
  width: 700px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.directions h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.directions .content {
  padding: 1rem;
}
.directions .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}

.toggle-button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}