* {
  background-color: #778899;
  text-align: center;
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, minmax(90px, 1fr));
  grid-template-rows: repeat(4, minmax(50px, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;  
  border: 5px solid purple;
  height: 100%;
  padding: 4rem;
}

.card {
  border: 3px solid black;
  margin: 3%;
  height: 100%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #98e2ed;
  transition: transform 1s; 
  border-radius: 10%;
  
}

.symbol {
  height: 50%; 
  width: 50%;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card-back { 
  border: 10px solid black;
  margin: 3%;
  height: 100%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: greenyellow;
  background-color: grey;
}