* {
  background-color: #778899;
  text-align: center;
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}

.board {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: space-between;  
  border: 5px solid purple;
  height: 100%;
  padding: 5rem;
  margin: 3rem;
}

.card {
  border: 10px solid black;
  margin: 3%;
  height: 150%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: greenyellow;
  background-color: #98e2ed;
  transition: transform 1s; 
  
}

.symbol {
  height: 50%; 
  width: 50%;
  border-radius: 60%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.card-back { 
  border: 10px solid black;
  margin: 3%;
  height: 100%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: greenyellow;
  background-color: grey;
}