* {
  background-color: #778899;
  text-align: center;
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid purple;
  height: 100%;
  padding: 0rem;
  z-index: 0;
}


.card {
  position: relative;
  height: 150px; 
  width: 125px;
  margin: 1%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
  transform-style:preserve-3d;
}

.card-front {
  position: absolute;
  background-color: #98e2ed;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: 3px solid black;
  border-radius: 5%;
  user-select: none; 
  cursor: pointer;
  transform: rotateY(-180deg);
}

.card-back {
  position: absolute;
  background-color: #98e2ed;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: 3px solid black;
  border-radius: 10%;
  user-select: none; 
  cursor: pointer;
}


.unflipped {
  transform: rotateY(0);
}

.flipped {
  transform: rotateY(-180deg);
  background: transparent;
}


/* 
.card:hover{ 
  background-color: blue;
} */

.card-flip {
  border: 3px solid black;
  margin: 3%;
  height: 110%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #98e2ed;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 10%;
  user-select: none; 
  cursor: pointer;
  backface-visibility: hidden;
  z-index: 1;
  transform: rotateY(180deg)
} 

.card-no-flip { 
  border: 3px solid black;
  margin: 3%;
  height: 110%; 
  width: 100%;
  padding: 5%; 
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #98e2ed;
  border-radius: 10%;
  user-select: none; 
  cursor: pointer;
  backface-visibility: hidden;
  z-index: 1;
} 

.symbol {
  height: 5em; 
  width: 5em;
  border-radius: 50%;
  align-self: center;
  margin-top: 3%;
}



.backdrop {
  position: fixed;
  width: 200%;
  height: 200%;
  background: rgba(0,0,0,0.7);
  z-index: 2;
}

.directions {
  position: fixed;
  left: 50%;
  margin-left: -350px;
  justify-content: center;
  align-items: center;
  width: 700px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.directions h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.directions .content {
  padding: 1rem;
}
.directions .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}

.toggle-button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

